$grey: #4e5255;
$light-grey: #838688;
$green: #77a6ac;
$green-bg: #9dd0c9;

$style-change-duration: 0.3s;

$desktop-width: 1170px;
$desktop-min-width: 1024px; /* 1024-1279 рх */
$tablet-width: 767px; /* 768-1023 рх */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//@media (min-width: $desktop-min-width + 1)
